
ion-tabs,ion-toolbar,ion-tab-button,ion-header{
  --ion-background-color: #faf6f8;
  --ion-color-primary: white;
  --background: #67123A;
}

ion-toolbar {
  
    background-color: #67123A;
    --background:#67123A;
  }
  ion-content {
    --ion-color-primary: white;
  }
  