
ion-tabs,ion-toolbar,ion-tab-button,ion-header{
  --ion-background-color: #67123A;
  --ion-color-primary: white;
  background-color: #67123A;
}

ion-toolbar {
  
    background-color: #67123A;
    --background:#67123A;
  }
  