.card{
    background-color: rgb(190, 185, 185);
    color: black;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_23-2148996464.jpg?w=2000');
}
