<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="card">
      <ion-card-title style="color: black">Últimas mediciones 🖇</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card">

      <section>
        <p>12/06/2023 11:45 am</p>
        <ion-item color="danger">
        
          <ion-icon slot="start" name="heart-half-outline"></ion-icon>
          <ion-label>150LPM</ion-label>
          <ion-icon name="thermometer-outline"></ion-icon>
          <ion-label>30°C</ion-label>
        </ion-item>


      </section>
    
      <hr />

      <section>
        <p>12/06/2023 10:34 am</p>
        <ion-item color="danger">
        
          <ion-icon slot="start" name="heart-half-outline"></ion-icon>
          <ion-label>150LPM</ion-label>
          <ion-icon name="thermometer-outline"></ion-icon>
          <ion-label>30°C</ion-label>
        </ion-item>


      </section>
    
      <hr />

      <section>
        <p>12/06/2023 10:34 am</p>
        <ion-item color="danger">
        
          <ion-icon slot="start" name="heart-half-outline"></ion-icon>
          <ion-label>150LPM</ion-label>
          <ion-icon name="thermometer-outline"></ion-icon>
          <ion-label>30°C</ion-label>
        </ion-item>


      </section>


      <hr />

      <section>
        <p>12/06/2023 10:34 am</p>
        <ion-item color="danger">
        
          <ion-icon slot="start" name="heart-half-outline"></ion-icon>
          <ion-label>150LPM</ion-label>
          <ion-icon name="thermometer-outline"></ion-icon>
          <ion-label>30°C</ion-label>
        </ion-item>


      </section>
      hr}
      <section>
        <p>12/06/2023 10:34 am</p>
        <ion-item color="danger">
        
          <ion-icon slot="start" name="heart-half-outline"></ion-icon>
          <ion-label>150LPM</ion-label>
          <ion-icon name="thermometer-outline"></ion-icon>
          <ion-label>30°C</ion-label>
        </ion-item>


      </section>
      
     


    </ion-card-content>
  </ion-card>
</ion-content>
