ion-content{
    background-color:#67123A ;
}

.container{
 background-color: rgb(255, 255, 255);
}


ion-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  ion-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.08);
  }
  .add-fab{
   
    display: flex;
  }
  .card{
    background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_23-2148996464.jpg?w=2000');
    color: #67123A;
  }


  
  

  .heart-container {
    width: 90%;
    height: 100px;
    margin: auto;
    position: relative;
    animation: heartbeat 1s infinite;
    background-color: rgb(248, 246, 246);


  }



  
ion-icon.icon-heart{
   
   font-size: 100px;
    color: #e90d0d;

  }
  
  .heart {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
  
  
    background-clip: content-box;
    background-repeat: no-repeat;
 
    background-size: contain;
  }
  #heart-rate {
    margin-left: 120px;
    font-size: large;
    padding-top: 20px;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .weather-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_23-2148996464.jpg?w=2000');
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 280px;
    padding-bottom: 16px;
  }
  
  .weather-icon {
    color: rgb(233, 7, 7);
    font-size: 52px;
    margin-right: 10px;
  }
  
  .weather-info {
    color: rgb(12, 24, 49);
    text-align: center;
  }
  
  .temperature {
    font-size: 32px;
    margin-bottom: 5px;
  }
  
  .weather-description {
    margin-top: 5px;
    font-size: 16px;
    opacity: 0.8;
  }
  
  
  
  