




<ion-content >
  
  <ion-card color="dark">
    <ion-card-header >
      Conexión segura
      <ion-button color="success" size="small">
       
        <ion-icon name="wifi-outline"></ion-icon>
         Activo
      </ion-button>
    </ion-card-header>
    
  </ion-card>

  <ion-card color="dark"  >
    <ion-card-header >
      <ion-button color="danger" size="small">
       
        <ion-icon name="heart-half-outline"></ion-icon>
         Ritmo Cardiaco
      </ion-button>
    </ion-card-header>
    <ion-card-content> 
      <ion-content>
       
      </ion-content>
      
 
        <canvas #heartRateCanvas></canvas>
     
      
    </ion-card-content>
  </ion-card>


 
  
    <div>
     

      <ion-card color="dark"  >
        <ion-card-header >
          <ion-button color="danger" size="small">
           
            <ion-icon name="thermometer-outline"></ion-icon>
             Temperatura
          </ion-button>
        </ion-card-header>
        <ion-card-content> 
          <ion-content>
           
          </ion-content>
          
     
          <canvas #temperatureCanvas style="background-color: aliceblue;"></canvas>
         
          
        </ion-card-content>
      </ion-card>
      
    </div>
      
 
    
       
    
     
      
    




</ion-content>
