

<ion-content [fullscreen]="true" >

  <ion-content class="ion-padding" >
    <div >

   

    <ion-card color="dark">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/vector-premium/pulso-cardiaco-linea-latidos-corazon-cardiograma-colores-rojo-blanco-hermosa-atencion-medica-antecedentes-medicos-diseno-moderno-simple-icono-signo-o-logotipo-ilustracion-estilo-plano_207561-11.jpg" />
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>💖La salud es primero</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       El checkeo preventivo es muy importante!
      </ion-card-content>
      <ion-button id="open-modal" expand="block" color="danger">Nueva medición</ion-button>
    </ion-card>

    
    <p>{{ message }}</p>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template color="dark">
        <ion-header>
          <ion-toolbar class="ion-toolbar" color="danger">
            <ion-buttons slot="start" >
              <ion-button (click)="cancel()" color="dark">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Medición</ion-title>
            <ion-buttons slot="end" >
              <ion-button (click)="confirm()" [strong]="true" id="open-loading">Confirm</ion-button>
              <ion-loading class="custom-loading" trigger="open-loading" message="Medición en curso" [duration]="10000" color="dark" spinner="dots"></ion-loading>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" style="background-color: aliceblue;">


          <ion-item color="primary">
            <ion-label>Fecha  actual:</ion-label>
            <ion-text>{{ fechaHoraActual }}</ion-text>
          </ion-item>

          <ion-item   color="dark">
            <ion-label position="stacked" color="danger">Nombre </ion-label>
            <ion-input type="text" placeholder="Your name" [(ngModel)]="name" ></ion-input>
          </ion-item>

        
           
            <ion-item color="dark">
              <ion-label>¿Qué actividad realizaste? <br> </ion-label>
              <ion-select [(ngModel)]="opcionSeleccionada">
                <ion-select-option value="Ejercicio">Ejercicio</ion-select-option>
                <ion-select-option value="Inactivo">Inactivo</ion-select-option>
                <ion-select-option value="Actividad moderada">Actividad moderada</ion-select-option>
                <ion-select-option value="Descanso">Descanso</ion-select-option>
                <ion-select-option value="Otro">Otro</ion-select-option>
              </ion-select>
            </ion-item>
            
            <ion-item color="dark">
              
              <ion-text>{{ opcionSeleccionada }}</ion-text>
            </ion-item>

            <ion-item  color="dark">
              <ion-label>Estado de ánimo</ion-label>
              <ion-select [(ngModel)]="opcionSeleccionada1">
                <ion-select-option value="Feliz">Feliz</ion-select-option>
                <ion-select-option value="Triste">Triste</ion-select-option>
                <ion-select-option value="Enojado">Enojado</ion-select-option>
                <ion-select-option value="Ansioso">Ansioso</ion-select-option>
                <ion-select-option value="Neutral">Neutral</ion-select-option>
              </ion-select>
            </ion-item>
            



            
          

        

        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
  </ion-content>

 
</ion-content>
